<div>
  <app-logo [dark]="true" alternativeText="App logo"></app-logo>
  <ui-title [level]="2" class="mt-6" title="Sign in with your PIN"></ui-title>
</div>

<div class="mt-8">
  <div class="mt-6">
    <form action="#" method="POST" class="space-y-6">
      <div>
        <ui-label htmlFor="pin" label="PIN"></ui-label>
        <div class="mt-1">
          <input
            id="pin"
            name="pin"
            type="password"
            required
            readonly
            [ngClass]="getInputClass()"
          >
        </div>
      </div>

      <div class="max-w-max mx-auto space-y-4">
        <div class="grid grid-cols-3 gap-4">
          <div [ngClass]="getDigitButtonClasses()">7</div>
          <div [ngClass]="getDigitButtonClasses()">8</div>
          <div [ngClass]="getDigitButtonClasses()">9</div>
        </div>
        <div class="grid grid-cols-3 gap-4">
          <div [ngClass]="getDigitButtonClasses()">4</div>
          <div [ngClass]="getDigitButtonClasses()">5</div>
          <div [ngClass]="getDigitButtonClasses()">6</div>
        </div>
        <div class="grid grid-cols-3 gap-4">
          <div [ngClass]="getDigitButtonClasses()">1</div>
          <div [ngClass]="getDigitButtonClasses()">2</div>
          <div [ngClass]="getDigitButtonClasses()">3</div>
        </div>
        <div class="grid grid-cols-3 gap-4">
          <div class="col-start-2">
            <div [ngClass]="getDigitButtonClasses()">0</div>
          </div>
        </div>
      </div>

      <div class="flex justify-center">
        <ui-button label="Sign in" type="submit"></ui-button>
      </div>
    </form>
  </div>
</div>
