<div>
  <app-logo [dark]="true" alternativeText="App logo"></app-logo>
  <ui-title [level]="2" class="mt-6" title="Sign in to your account"></ui-title>
</div>

<div class="mt-8">
  <div class="mt-6">
    <form action="#" method="POST" class="space-y-6">
      <div>
        <ui-label htmlFor="email" label="Email address"></ui-label>
        <div class="mt-1">
          <ui-input
            id="email"
            name="email"
            type="email"
            [required]="true"
          ></ui-input>
        </div>
      </div>
      <div class="space-y-1">
        <ui-label htmlFor="password" label="Password"></ui-label>
        <div class="mt-1">
          <ui-input
            id="password"
            name="password"
            type="password"
            [required]="true"
          ></ui-input>
        </div>
      </div>

      <div class="flex items-center justify-between">
        <div class="flex items-center space-x-1">
          <ui-checkbox id="remember-me" name="remember-me" ></ui-checkbox>
          <ui-label htmlFor="remember-me" label="Remember me"></ui-label>
        </div>

        <div class="text-sm">
          <a href="#">Forgot your password?</a>
        </div>
      </div>

      <div class="flex justify-center">
        <ui-button label="Sign in" type="submit" ></ui-button>
      </div>
    </form>
  </div>
</div>
